--jobname job-wallbank_testbeam_shutoffhandscan_2021-10-05

--defname wallbank_testbeam_shutoffhandscan_2021-10-05
--config shutoffhandscanjob.fcl
--tag development
#--testrel /nova/app/users/wallbank/test_testbeam/
--user_tarball /nova/app/users/wallbank/tb_analysis/test_testbeam.tar.bz2

--memory 2500
--expected_lifetime medium

--dest /pnfs/nova/scratch/users/wallbank/testbeam/data/ShutOffHandScan/
--copyOut
--histTier handscan

--files_per_job 1
