--jobname job-recovalid-pid_testbeam_beamlinestream_period3_R21-07-27-testbeam-production.a

--defname pid_testbeam_beamlinestream_period3_R21-07-27-testbeam-production.a
--config tbrecovalidationjob.fcl
--tag development
#--testrel /nova/app/users/wallbank/test_testbeam/
--user_tarball /nova/app/users/wallbank/tb_analysis/test_testbeam.tar.bz2

--memory 2500
--expected_lifetime medium

--dest /pnfs/nova/scratch/users/wallbank/testbeam/data/RecoValidation/
--copyOut
--histTier recovalidation

--files_per_job 20
